<input #input
       [attr.disabled]="(loading$ | async) || null"
       class="input"
       [formControl]="control"
       type="text"
       (change)="onChange(input.value)">
<app-spinner *ngIf="(loading$ | async)" [dimension]="20"></app-spinner>

<div *ngIf="control.hasError" class="error {{(shakeInputStream | async) ? 'shake' : 'shook'}}">
    <span *ngIf="requiredError()">Required</span>
    <span *ngIf="invalidError()">{{ control.errors?.[INVALID_IP_ERROR_KEY] }}</span>
</div>

<div *ngIf="!(loading$ | async) && countryCode && !control.errors" class="country-details">
    <img class="country-flag" [src]="getFlagSrc()" [alt]="countryCode">
    <span class="country-time"> {{ countryTime$ | async }} </span>
</div>