@import 'normalize.css';

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  * {
    user-select: none;
  }
}

app-root {
  padding: 12px;
  display: flex;
  justify-content: center;
  min-height: 25vh;
}

.hoverable {
  cursor: pointer;
}